.about {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__avatar-wrapper {
    display: flex;
    border-radius: 50%;
    padding: 9px;
    background: $gradient;
  }

  &__avatar {
    width: 349px;
    height: 349px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
  }
}
