@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-display: swap;
  src: url(../vendor/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  font-display: swap;
  src: url(../vendor/fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-display: swap;
  src: url(../vendor/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-display: swap;
  src: url(../vendor/fonts/Poppins-Regular.ttf) fo;
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
  src: url(../vendor/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
  src: url(../vendor/fonts/Poppins-Bold.ttf);
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 40px calc(50% - 543px);
}

.icon {
  width: 30px;
  height: 30px;
  fill: #666;
  border-radius: 50%;
  transition: 0.3s;
}
.icon:hover {
  cursor: pointer;
}
.icon_type_gh:hover {
  fill: #1f2328;
}
.icon_type_twitter:hover {
  fill: #0073ff;
}
.icon_type_instagram:hover {
  fill: #ee0a0a;
}
.icon_type_gh:active {
  transform: scale(1.1);
}
.icon_type_twitter:active {
  transform: scale(1.1);
}
.icon_type_instagram:active {
  transform: scale(1.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__platform-list {
  margin-left: 51px;
}

.logo {
  display: flex;
  width: 97px;
  height: 69px;
}
.logo__image {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.menu {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  color: #666;
  font-weight: 500;
}
.menu__list {
  display: flex;
  gap: 67px;
}
.menu__link {
  color: inherit;
  transition: 0.3s;
}
.menu__link:hover {
  color: #13b0f5;
}

.platform-list {
  display: flex;
  gap: 20px;
}
.platform-list__link {
  display: flex;
}

.section {
  margin-top: 240px;
}
.section__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.8;
  color: #42446e;
}
.section__subtitle {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  color: #666;
}
.section__content {
  margin-top: 140px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__avatar-wrapper {
  display: flex;
  border-radius: 50%;
  padding: 9px;
  background: linear-gradient(to bottom, #e70faa, #13b0f5);
}
.about__avatar {
  width: 349px;
  height: 349px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.title {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.2;
  color: #42446e;
}
.title__block {
  display: block;
}
.title__block_accent {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #13b0f5, #e70faa);
}

.stack-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  row-gap: 78px;
}
.stack-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  gap: 62px 47px;
  justify-content: center;
}

.card {
  width: 373px;
  padding-top: 260px;
  border-radius: 20px;
  box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
}
.card__info {
  padding: 28px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.card__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}
.card__description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  color: #666;
}
.card__tech {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #666;
}
.card__tech_accent {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}
.card__links {
  display: flex;
  justify-content: space-between;
}
.card__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  display: flex;
  text-decoration: underline;
  transition: 0.3s;
}
.card__link_type_link::before {
  content: url(../images/icons/anchor-link.svg);
  margin-right: 10px;
  transition: 0.3s;
}
.card__link_type_code::before {
  content: url(../images/icons/gh-link.svg);
  margin-right: 10px;
  transition: 0.3s;
}
.card__link:hover {
  color: #13b0f5;
}
.card__link:active {
  opacity: 0.5;
}
.card__link_type_link:active::before {
  opacity: 0.5;
}
.card__link_type_code:active::before {
  opacity: 0.5;
}

.footer {
  padding-top: 203px;
}
.footer__top {
  display: flex;
  align-items: center;
  gap: 96px;
  padding-bottom: 42px;
  border-bottom: 2px solid #d9d9d9;
}
.footer__contacts {
  display: flex;
  margin-left: auto;
  gap: 64px;
  font-family: "DM Sans", sans-serif;
}
.footer__contacts-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #42446e;
  transition: 0.3s;
}
.footer__contacts-link:hover {
  color: #13b0f5;
}
.footer__bottom {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #666;
}
.footer__copyright_default {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #666, #666);
}
.footer__copyright_accent {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #13b0f5, #e70faa);
}/*# sourceMappingURL=index.css.map */