.menu {
  display: flex;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  color: $font-color-grey;
  font-weight: 500;
  gap: 20px;

  &__list {
    display: flex;
    gap: 67px;
  }

  &__link {
    color: inherit;
    transition: $animation-duration;

    &:hover {
      color: $link-color-hover;
    }
  }
}

@media screen and (max-width: $desktop) {
  .menu__list {
    gap: 50px;
  }
}

@media screen and (max-width: $laptop) {
  .menu {
    position: fixed;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    background-color: rgba(0 0 0 / 0.9);
    width: 100%;
    transform: translateX(100%);
    transition: $animation-duration;
    color: $font-color-white;

    &_opened {
      transform: translateX(0);
    }

    &__list {
      flex-direction: column;
      align-items: center;
    }
  }
}
