.menu {
  display: flex;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  color: $font-color-grey;
  font-weight: 500;

  &__list {
    display: flex;
    gap: 67px;
  }

  &__link {
    color: inherit;
    transition: $animation-duration;

    &:hover {
      color: $link-color-hover;
    }
  }
}
